---
import SocialMediaLink from "@components/SocialMediaLink/index.astro";
import authorPhoto from "@images/me/jpg/me.jpg";
import { Picture } from "astro:assets";

import styles from "./styles.module.css";
---

<section class={styles["hero"]}>
	<div class={styles["hero__image-container"]}>
		<div class={styles["hero__image-gradient"]}></div>
		<Picture
			alt="Galeed Gutierrez foto de perfil."
			class={styles["hero__image"]}
			formats={["avif", "webp", "jpg"]}
			layout="constrained"
			loading={"eager"}
			priority
			src={authorPhoto}
		/>
	</div>
	<div class={styles["hero__text-container"]}>
		<h1 class={styles["hero__title"]}>Galeed Gutierrez</h1>
		<h2 class={styles["hero__subtitle"]}>Frontend developer</h2>
	</div>
	<div class={styles["hero__socials"]}>
		<SocialMediaLink
			href="https://linkedin.com/in/galeedgutierrez"
			icon="lucide:linkedin"
			label="LinkedIn"
		/>
		<SocialMediaLink
			href="https://x.com/gutierrezgaleed"
			icon="lucide:twitter"
			label="Twitter"
		/>
		<SocialMediaLink
			href="https://github.com/galeedgutierrez"
			icon="lucide:github"
			label="GitHub"
		/>
		<SocialMediaLink
			href="https://galeedgutierrez.com"
			icon="lucide:globe"
			label="Web"
		/>
	</div>
</section>
