---
import ME_AVIF from "@images/me/avif/me.avif";
import ME_JPG from "@images/me/jpg/me.jpg";
import ME_WEBP from "@images/me/webp/me.webp";

import styles from "./styles.module.css";
---

<section class={styles["hero"]}>
	<div class={styles["hero__image-container"]}>
		<div class={styles["hero__image-gradient"]}></div>
		<picture>
			<source
				srcset={ME_AVIF.src}
				type="image/avif"
			/>
			<source
				srcset={ME_WEBP.src}
				type="image/webp"
			/>
			<img
				class={styles["hero__image"]}
				src={ME_JPG.src}
				alt="Galeed Gutierrez foto de perfil"
			/>
		</picture>
	</div>
	<div class={styles["hero__text-container"]}>
		<h1 class={styles["hero__title"]}>Galeed Gutierrez</h1>
		<h2 class={styles["hero__subtitle"]}>Frontend developer</h2>
	</div>
</section>
