body {
	background-color: var(--background-color-primary);
	color: var(--text-color-primary);
	font-size: var(--f-body-lg);
	font-weight: var(--fw-normal);
	line-height: var(--lh-body-lg);
}

/* .font-fallback */
body:not(.fonts-loaded) {
	/* stylelint-disable-next-line at-rule-no-unknown */
	@mixin font-fallback;
}

/* .font-primary */
body.fonts-loaded {
	/* stylelint-disable-next-line at-rule-no-unknown */
	@mixin font-primary;
}
