a {
	color: var(--text-color-primary);
	text-decoration: none;

	&:hover {
		color: var(--text-color-hover-primary);
	}

	&:focus-visible {
		outline: 0.125rem solid var(--text-color-primary);
		outline-offset: 0.125rem;
	}

	&:active {
		color: var(--text-color-active-primary);
	}
}
