.main__navbar {
	position: relative;

	&::before,
	&::after {
		position: absolute;
		inset-block-start: 50%;
		block-size: utopia.clamp(24, 27);
		transform: translateY(-50%);
		content: "";
	}

	&::before {
		inset-inline-start: 0;
		inline-size: calc(16 * var(--rem-scale));
		background: var(--linear-gradient-primary-to-left);
	}

	&::after {
		inset-inline-end: 0;
		inline-size: calc(60 * var(--rem-scale));
		background: var(--linear-gradient-primary-to-right);
	}
}
