:root {
	/* Primary */
	--slate-50: oklch(98.4% 0.003 247.858);
	--slate-50-opacity-0: oklch(98.4% 0.003 247.858 / 0%);
	--slate-400: oklch(70.4% 0.04 256.788);
	--slate-600: oklch(44.6% 0.043 257.281);
	--slate-950: oklch(12.9% 0.042 264.695);
	--slate-950-opacity-0: oklch(12.9% 0.042 264.695 / 0%);
	--pink-800: oklch(45.9% 0.187 3.815);
	--blue-600: oklch(54.6% 0.245 262.881);
	--blue-800: oklch(42.4% 0.199 265.638);
	--gray-800: oklch(27.8% 0.033 256.848);
	--sky-800: oklch(44.3% 0.11 240.79);

	/* Text */
	--text-color-primary: light-dark(var(--slate-950), var(--slate-50));
	--text-color-secondary: light-dark(var(--slate-600), var(--slate-400));
	--text-color-hover-primary: light-dark(var(--slate-600), var(--slate-400));
	--text-color-active-primary: light-dark(var(--slate-400), var(--slate-600));

	/* Background */
	--background-color-primary: light-dark(var(--slate-50), var(--slate-950));
	--background-color-primary-gradient: light-dark(
		var(--slate-50),
		var(--slate-950)
	);

	/* Linear gradient */
	--linear-gradient-color-primary-0: light-dark(
		var(--slate-50-opacity-0),
		var(--slate-950-opacity-0)
	);
	--linear-gradient-color-primary-1: light-dark(
		var(--slate-50),
		var(--slate-950)
	);
	--linear-gradient-primary-to-left: linear-gradient(
		to left,
		var(--linear-gradient-color-primary-0),
		var(--linear-gradient-color-primary-1)
	);
	--linear-gradient-primary-to-right: linear-gradient(
		to right,
		var(--linear-gradient-color-primary-0),
		var(--linear-gradient-color-primary-1)
	);

	color-scheme: light dark;
}
