:root {
	/* Width */
	--max-width-1: 102.4rem;
	--max-width-element-001: 40rem;

	/* Screens - In this case 1rem = 16px only in media queries */
	--screen-tablet: 48rem;
	--screen-desktop: 64rem;

	/* Spacing */
	--spacing-0: 0;
	--spacing-025: 0.0625rem;
	--spacing-05: 0.125rem;
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-7: 1.75rem;
	--spacing-8: 2rem;
	--spacing-9: 2.25rem;
	--spacing-10: 2.5rem;
	--spacing-11: 2.75rem;
	--spacing-12: 3rem;
	--spacing-13: 3.25rem;
	--spacing-14: 3.5rem;
	--spacing-15: 3.75rem;
	--spacing-16: 4rem;
	--spacing-17: 4.25rem;
	--spacing-18: 4.5rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
	--spacing-25: 6.25rem;
	--spacing-28: 7rem;
	--spacing-32: 8rem;
	--spacing-100: 25rem;

	/* Border */
	--border-025: 0.0625rem;
	--border-05: 0.125rem;
	--border-1: 0.25rem;
	--border-2: 0.5rem;

	/* Border radios */
	--border-radius-05: 0.125rem;
	--border-radius-1: 0.25rem;
	--border-radius-2: 0.5rem;
	--border-radius-3: 0.75rem;
	--border-radius-4: 1rem;
	--border-radius-5: 1.25rem;
	--border-radius-6: 1.5rem;
	--border-radius-circle: 50%;
}
