:root {
	/* Use to convert px to rem */
	--rem-scale: calc(1rem / var(--f-base-number));

	/* Typography scale */

	/* --f-base: 62.5%; */
	--f-base-number: 16;
	--f-base: calc(var(--f-base-number) * var(--rem-scale));

	/* Weight */
	--fw-thin: 100;
	--fw-extralight: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-extrabold: 800;
	--fw-black: 900;

	/* Typography applications */

	/* Scale factor 1.125 */
	--f-body-sm: utopia.clamp(14, 15);
	--f-body-md: utopia.clamp(15, 17);
	--f-body-lg: utopia.clamp(16, 18);

	/* Scale factor 1.125 */
	--f-title-sm: utopia.clamp(14, 15);
	--f-title-md: utopia.clamp(18, 20);
	--f-title-lg: utopia.clamp(24, 27);
	--f-title-xl: utopia.clamp(36, 40);

	/* Line Height */

	/* Word Spacing */

	/* Font Family */
	--font-fallback:
		system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", "Noto Sans",
		helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	--font-fallback-primary: arial, var(--font-fallback);
	--font-primary: "Manrope", var(--font-fallback-primary);
}

@font-face {
	font-family: Manrope;
	src: url("/fonts/Manrope/Manrope-VariableFont_wght.woff2") format("woff2");
	font-display: swap;
}

/* Factor Scales
1.125 - (Minor Third)
Ideal para: texto de cuerpo y microjerarquías.
Ventajas: Progresión suave, muy legible, funciona bien en layouts densos.
Ejemplo desde 16px:
16 → 18 → 20.25 → 22.78 → 25.63

1.25 - (Major Third)
Ideal para: subtítulos, títulos pequeños, interfaces con más contraste.
Ventajas: Marca jerarquía clara sin ser exagerado.
Ejemplo desde 16px:
16 → 20 → 25 → 31.25 → 39.06

1.333 - (Perfect Fourth)
Ideal para: encabezados principales, sitios editoriales o más expresivos.
Ventajas: Mucho contraste, da una sensación clásica y editorial.
Ejemplo desde 16px:
16 → 21.33 → 28.44 → 37.91 → 50.5

1.414 - (Augmented Fourth)
Ideal para: tipografía destacada, headers, landing pages.
Ventajas: Dramático y elegante, inspirado en la proporción áurea.
Ejemplo desde 16px:
16 → 22.63 → 32 → 45.26 → 63.99

1.5 — (Perfect Fifth)
Ideal para: sistemas con mucho contraste y presencia.
Ventajas: Pocas escalas, bien diferenciadas.
Ejemplo desde 16px:
16 → 24 → 36 → 54 → 81

1.618 — (Golden Ratio)
Ideal para: usos muy visuales o editoriales de alto impacto.
Ventajas: Inspirado en la proporción áurea, muy contrastante.
Ejemplo desde 16px:
16 → 25.89 → 41.94 → 67.83

Summary of scales:
Body: 1.125 to 1.25
Subtitle/UI titles: 1.25
Title: 1.333 to 1.414
Hero title/Branding: 1.5 to 1.618
*/
