:root {
	/* Typography scale */

	/* --f-base: 62.5%; */
	--f-base: 100%;

	/* Weight */
	--fw-thin: 100;
	--fw-extralight: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-extrabold: 800;
	--fw-black: 900;

	/* Typography applications */
	--f-body-sm: 0.875rem;
	--f-body-md: 0.9375rem;
	--f-body-lg: 1rem;
	--f-title-sm: 0.875rem;
	--f-title-md: 1.125rem;
	--f-title-lg: 1.5rem;
	--f-title-xl: 2.25rem;

	/* Line Height */

	/* Word Spacing */
}
