---
import "../styles/index.css";
// import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>
		<style>
			:root {
				--font-fallback:
					system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
					"Noto Sans", helvetica, arial, sans-serif,
					"Apple Color Emoji", "Segoe UI Emoji";
				--font-fallback-primary: Arial, var(--font-fallback);
				--font-primary: "Manrope", var(--font-fallback-primary);
			}

			@font-face {
				font-family: "Manrope";
				src: url("/src/assets/fonts/Manrope/Manrope-VariableFont_wght.woff2")
					format("woff2");
				font-display: swap;
			}
		</style>
		<!-- <SEO
			title="Galeed Gutierrez"
			titleTemplate="%s | Galeed Gutierrez"
			titleDefault="Galeed Gutierrez"
			description="Frontend developer especializado en la creación de interfaces de usuario con un enfoque en el rendimiento y la accesibilidad."
			canonical="https://galeed.link"
			charset="utf8"
			lang="es"
			robots="index, follow"
			openGraph={{
				basic: {
					title: "Galeed Gutierrez",
					type: "website",
					// image: ""
				},
				image: {
					alt: "Galeed Gutierrez profile picture",
				},
			}}
			canonical="/"
			noindex={false}
			nofollow={false}
			surpressWarnings={true}
		/> -->
		<title>Galeed Gutierrez</title>
	</head>
	<body>
		<slot />
	</body><script>
		import { loadFonts } from "@utils/loadFonts";

		loadFonts(["1em Manrope"]);
	</script>
</html>
